<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form class="cell" method="POST"> {% csrf_token %}
        <div class="callout secondary">
            <h5>¿Desea Eliminar A Este Empleado {{ object.name }}?</h5>
        </div>
        <button type="submit" class="alert button">Eliminar</button>
        <a href="{% url 'listclient' %}"><button type="button" class="succes button">Cancelar</button></a>
    </form>
</body>
</html>