<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>{{ client.first_name}}</h4>
<h4>{{ client.last_name }}</h4>
<h4>{{ client.observations }}</h4>

</body>
</html>