<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Listar Waiter</h1>

    <ol>
      {% for item in object_list %}
        <li>
          {{ item.first_name}} {{ item.last_name}}
          </li>
      {% endfor %}
    </ol>



</body>
</html>