<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>{{ product.name}}</h4>
<h4>{{ product.imported }}</h4>
<h4>{{ product.description }}</h4>

</body>
</html>