<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>{{ order.quantity}}</h4>
<h4>{{ order.products }}</h4>
<h4>{{ order.invoices }}</h4>

</body>
</html>