<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Listar Order</h1>

    <ol>
      {% for item in object_list %}
        <li>
          {{ item.quantity}} {{ item.products}} {{ item.invoices }}
          </li>
      {% endfor %}
    </ol>



</body>
</html>