<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Listar Table</h1>

    <ol>
      {% for item in object_list %}
        <li>
          {{ item.number_diners}} {{ item.location}}
          </li>
      {% endfor %}
    </ol>



</body>
</html>